<launch>
  <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="1 0 0 0 0 0 1 world spray_frame 100" />
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find rviz_spray_sim)/resources/example_rviz.rviz"/> 

  <node pkg="rviz_spray_sim" type="rviz_spray_sim" name="rviz_spray_sim">
    <param name="particle_radius" type="double" value="0.05"/>
    <param name="cone_theta" type="double" value="0.39269908169"/> <!-- 30 deg -->
    <param name="cone_radius" type="double" value="1.0"/>
    <param name="frame" type="string" value="spray_frame"/>
    <param name="spawn_rate" type="int" value="100"/>
    <param name="particle_speed" type="double" value="0.75"/>
    <param name="publish_cone_marker" type="bool" value="True"/> <!-- Default: False --> 
  </node>
  
</launch>
